$background-color-darck-gray: #141b1c;
$background-color-medium-gray: #334247;
$background-color-medium-grean: #5bb189;
$background-color-medium-blue: #3a6ba5;
$background-color-medium-orange: #ec632a;
$background-color-medium-red: #dc3f45;

$text-color-white: #fff;
